:root {
  --font-family: "Open Sans", sans-serif;
  --primary-color: #1a1a1a;
  --text-color: #fcf8f3;
  --hover-text-color: #ec2127;
  --border-color: #2d2d2d;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 86.5vh;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--text-color);
}

main {
  flex: 1;
}
