:root {
  --font-family: "Open Sans", sans-serif;
  --text-color: #1a1a1a;
  --primary-color: #fcf8f3;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--text-color);
}

main {
  padding: 2rem;
}
